{% extends 'base.html' %}
{% block title %}{{ self.credentials_title() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="credentials_box box">
        <h3 class="box_title">{{ self.credentials_title() }}</h3>
        <div class="form_wrapper credentials_form">
            {% block credentials_form %}
            {% endblock %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="font_small error_msg">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
