{% extends 'credentials_frame.html' %}
{% block credentials_title %}Login{% endblock %}

{% block credentials_form %}
    <form action="/" method="POST">
        <input type="text" id="username" class="text_field cred_field" name="username" placeholder="username"><br>
        <input type="password" id="password" class="text_field cred_field" name="password" placeholder="password"><br>
        <input type="submit" class="button sky_blue_btn" value="Login">
        <input type="button" class="button grey_btn" value="Register" onclick="location.href='/register'">
    </form>
{% endblock %}

