{% extends 'main.html' %}


{% block note_content %}

    {{ note_listing_ctrls() }}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="font_small error_msg">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% for note in notes %}
        {{ note_listing_item(note.title, note.author, note.year, note.doi_address, note.bib_category, note.bib_citekey) }}
    {% endfor %}

    {% if notes | length > 6 %}
        {{ note_listing_ctrls() }}
    {% endif %}

{% endblock %}

{% macro note_listing_ctrls() %}
    <div class="button_wrapper">
        <a href={{ url_for("create_new_reference") }} id="add_reference_btn" class="button dark_blue_btn">Add a new reference</a>
        <a href={{ url_for("download_bibtex") }} id="print_bibtex_btn" class="button pink_btn">Download a BibTex file</a>
    </div>
{% endmacro %}

{% macro note_listing_item(title, author, year, doi_address, bib_category, bib_citekey) %}
    <div class="note_listing_item">
        <img class="x_icon" src="{{ url_for('static', filename='images/x_icon_harmaa_153.svg') }}" alt="logo">
        <p class="listing_item_info note_title font_big">{{ title }}</p>
        <p class="listing_item_info note_author font_normal">{{ author }}</p>
        <p class="listing_item_info note_published font_small">{{ bib_category }}, {{ year }}</p>
        <div class="note_footer">
            <p class="listing_item_info note_doi font_small">DOI: {{ doi_address }}</p>
            <p class="listing_item_info note_citekey font_small">Bib-citekey: {{ bib_citekey }}</p>
        </div>
    </div>
{% endmacro %}
