* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(170deg, DeepSkyBlue, #a6e5fc);
    background-attachment: fixed;
}

div.page_wrapper {
	margin: 0 auto 0;
	padding: 3.6rem 0;
	max-width: 60em;
    overflow: auto;
	/* background: #59d4fd; */
}

/* General */

.font_big {
    font-size: 1.8rem;
}

.font_bigger {
    font-size: 1.2rem;
}

.font_normal {
    font-size: 1rem;
}

.font_medium {
    font-size: 0.8rem;
}

.font_small {
    font-size: 0.7rem;
}

/* General UI stuff */

div.box {
    overflow: auto;
    border-radius: 2rem;
    background: snow;
}

h3.box_title {
    text-align: center;
    margin: 2.5rem 0 1.5rem 0;
    font-size: 2rem;
    color: DarkGrey;
}

p.error_msg {
    margin-top: 0.6rem;
    text-align: center;
    color: DarkGrey;
}

div.form_wrapper {
    margin: 1rem 4rem;
}

.button {
    margin-bottom: 0.5rem;
    height: 3rem;
    border-radius: 1rem;
    border-style: hidden;
    font-size: 1.2rem;
    font-weight: normal;
    color: snow;
}

.button:hover {
    cursor: pointer;
}

a.button {
    padding-top: 0.6rem;
    height: 2.4rem;
    display: block;
    text-decoration: none;
    text-align: center;
}

div.page_wrapper > .button {
    margin: 1rem auto;
    width: 80%;
}

.sky_blue_btn {
    background: #33cbfe
}

.sky_blue_btn:hover {
    background: DeepSkyBlue
}

.dark_blue_btn {
    background: #1a79ff;
}

.dark_blue_btn:hover {
    background: #1f6bff;
}

.pink_btn {
    background: #c20acf;
}

.pink_btn:hover {
    background: #ad1dd4;
}

.grey_btn {
    background: #cbcaca;
}

.grey_btn:hover {
    background: #bebebe;    
}

input.text_field {
    margin-bottom: 1rem;
    padding: 0 1rem;
    /* width: calc(100% - 4px - 2rem); */
    width: 100%;
    height: 2.4rem;
    border-radius: 1rem;
    border-style: hidden;
    color: Gray;
    background: #EDEDED;
}

input.text_field:focus {
    outline-width: 0;
}

input.text_field::placeholder {
    color: Grey;
    opacity: 0.7;
}

/* Signin and Register */

div.credentials_box {
    margin: 10rem auto 0;
    width: 20rem;
    height: 24rem;
}

div.credentials_form .button {
    width: 100%;
}

/* Top Nav */

div.topnav {
    width: 100%;
    height: 3rem;
    position: fixed;
    background: snow;
}

div.topnav img.logo {
    margin-top: 0.7rem;
    margin-left: 2rem;
    height: 1.6rem;
}

div.topnav > a.button {
    margin-top: 0.45rem;
    margin-right: 2rem;
    padding-top: 0.3rem;
    height: 1.8rem;
    width: 8rem;
    float: right;
    font-size: 1rem;
    font-weight: bold; */
}

div.topnav > p.username {
    margin-top: 0.8rem;
    margin-right: 2rem;
    float: right;
    font-weight: bold;
    color: Grey;
}

/* Note listing */

.button_wrapper {
    padding: 0.6rem 0;
    width: 80%;
    height: 3rem;
    margin: 0.6rem auto 1.2rem auto;
}

div.button_wrapper > a.dark_blue_btn {
    width: 48%;
    float: left;
}

div.button_wrapper > a.pink_btn {
    width: 48%;
    float: right;
}

div.note_listing_item {
    margin: 1rem auto;
    padding-top: 0.8rem;
    width: 80%;
    min-height: 5rem;
    border-radius: 2rem 0 2rem 0;
    overflow: hidden;
    background: snow 
}

div.note_listing_item > p.listing_item_info {
    margin-left: 2rem;
    font-weight: bold;
    color: Gray;
}

div.note_listing_item > img.x_icon {
    float: right;
    width: 1rem;
    margin: 0rem 0.8rem;
    opacity: 0.8;
}

div.note_listing_item > img.x_icon:hover {
    opacity: 1;
}

div.note_listing_item > p.note_title {
    margin-left: 1.6rem;
    color: DimGray
}

div.note_listing_item > p.listing_item_info:last-of-type {
    margin-bottom: 0.8rem;
    font-weight: normal
}

div.note_listing_item > div.note_footer {
    padding: 0.5rem 0 0.5rem 0;
    background: #33cbfe
}

div.note_listing_item > div.note_footer > p.listing_item_info {
    margin-left: 1rem;
    color: snow;
}

/* Note Creation */

div.note_form_box {
    width: 80%;
    height: 35rem;
    margin: 6% auto 0;
}

form.note_form > .button {
    width: 100%;
}

